<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewProfileServlet</servlet-name>
        <servlet-class>Controllers.viewProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProfileServlet</servlet-name>
        <servlet-class>Controllers.editProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>Controllers.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controllers.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotpasswordSerlvet</servlet-name>
        <servlet-class>Controllers.ForgotpasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>Controllers.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>Controllers.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductServlet</servlet-name>
        <servlet-class>Controllers.EditProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>Controllers.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangepasswordServlet</servlet-name>
        <servlet-class>Controllers.ChangepasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewProfileServlet</servlet-name>
        <url-pattern>/viewProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProfileServlet</servlet-name>
        <url-pattern>/editProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotpasswordSerlvet</servlet-name>
        <url-pattern>/ForgotpasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GoogleLogin</servlet-name>
        <servlet-class>Controllers.GoogleLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoogleLogin</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductServlet</servlet-name>
        <url-pattern>/editproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangepasswordServlet</servlet-name>
        <url-pattern>/ChangepasswordServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
